In [1]:
#10 数据聚合与分组操作
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({'key1':['a','a','b','b','a'],
               'key2':['one','two','one','two','one'],
               'data1':np.random.randn(5),
               'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.226065 -0.031787
1    a  two -0.351633  0.387929
2    b  one  0.485144  1.716005
3    b  two -0.692891  0.160859
4    a  one  0.687873 -0.989567

In [3]:
grouped=df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a    0.520769
b   -0.103874
Name: data1, dtype: float64

In [6]:
means =df['data1'].groupby([df['key1'],df['key2']]).mean()
means

key1  key2
a     one     0.956969
      two    -0.351633
b     one     0.485144
      two    -0.692891
Name: data1, dtype: float64

In [7]:
means.unstack()

key2       one       two
key1
a     0.956969 -0.351633
b     0.485144 -0.692891

In [8]:
states=np.array(['Ohio','California','California','Ohio','Ohio'])
years=np.array([2005,2005,2006,2005,2006])

In [9]:
df['data1'].groupby([states,years]).mean()

California  2005   -0.351633
            2006    0.485144
Ohio        2005    0.266587
            2006    0.687873
Name: data1, dtype: float64

In [10]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [11]:
#10.1.1 遍历各数组
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  1.226065 -0.031787
1    a  two -0.351633  0.387929
4    a  one  0.687873 -0.989567
b
  key1 key2     data1     data2
2    b  one  0.485144  1.716005
3    b  two -0.692891  0.160859

In [12]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one  1.226065 -0.031787
4    a  one  0.687873 -0.989567
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.351633  0.387929
('b', 'one')
  key1 key2     data1     data2
2    b  one  0.485144  1.716005
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.692891  0.160859